* {
  box-sizing: border-box;
}

.profile {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.title {
  text-align: center;
}

#special {
  text-align: center;
}

.point {
  color: red;
}

.box {
  width: 300px;
  background-color: aqua;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 10px;
  box-shadow: 5px 5px black;
}

/* layout */
.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 50px;
  background-color: red;
}

.leftMenu {
  display: inline-block;
  width: 20%;
  height: 400px;
  background-color: cornflowerblue;
  /* 상하 정렬 : va는 inline-block이나 inline 요소에만 적용가능 */
  vertical-align: top;
  /* float: left; */
}

.right {
  display: inline-block;
  width: 80%;
  height: 400px;
  background-color: coral;
  /* float: left; */
}

.footer {
  width: 100%;
  height: 100px;
  background-color: grey;
  /* clear: both; */
}

/* 03layout1_pt */
body {
  outline: 1px solid red;
}

.aside {
  width: 60%;
  height: 200px;
  float: left;
}

.aside .profileImg .img {
  float: left;
}

.aside .profileImg .name {
  float: left;
  margin-left: 20px;
}

.aside .profileImg .name h3 {
  margin: 0;
  font-size: 15px;
}

.aside .profileImg .name p {
  margin: 0;
  font-size: 12px;
}

.aside .profileImg img {
  width: 50px;
  border-radius: 50%;
}

.aside .intro {
  clear: both;
  padding-top: 5px;
}

.article {
  width: 30%;
  height: 200px;
  float: right;
}

.article img {
  /* article에 width가 있기 때문에 그 넓이를 상속받으면 된다 */
  width: 100%;
  height: 100%;
}

/* navBar */
.navBar li {
  display: inline-block;
  width: 60px;
  text-align: center;
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
}

.navBar li a {
  font-size: 16px;
  text-decoration: none;
}

/* 04layout2 */

.mainBg {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url(../img/shoes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1px;
  text-align: center;
  /* 배경 채워지는 위치 */
}

.mainTitle {
  color: white;
  font-size: 40px;

  /* margin이 text에 안붙고 배경에 붙어 내려온다
  margin collapse 현상 : 박스 2개가 위쪽 테두리에 겹쳐짐
  이런 경우에는 margin도 합쳐짐-> 부모박스에 패딩을 주면됨
  */
}

.mainContent {
  color: #fff;
}

.mainBtn {
  /* position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  가운데 오게 하는 공식
  */
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 150px;
  padding: 10px;
}

.subBg {
  position: relative;
  top: -100px;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  max-width: 600px;
  background-color: #ddd;
  padding: 20px;
  text-align: center;
  /* padding, border 포함 width가 조정됨 */

}

.subBg .subTitle {
  font-size: 20px;
}

.subBg .subContent {
  font-size: 15px;
}

/* input */
.formpt {

  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  border: 1px solid #ddd;
  padding: 50px;
}

/* 지정해서 인풋 스타일 지정시 
input[type=email] {
  padding: 20px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
}*/
.base {
  background-color: black;
}

.formpt {
  background-color: #fff;
}

.formpt input {
  padding: 10px;
  font-size: 20px;
  border: 1px solid ddd;

}

.formpt .w100 {
  padding: 10px;
}

.formpt .name {
  width: 50%;
  float: left;
  padding: 10px;
}

input[type=email] {

  width: 100%;
}

input[type=text] {
  display: inline-block;
  width: 100%;

}

.check {
  margin-top: 30px;
}

input[type=checkbox] {
  margin-top: 10px;
}

input[type=submit] {

  float: right;
  border: none;
  background-color: rgb(255, 191, 0);
  color: #fff;
  padding: 5px 20px;
}

.formpt h4 {

  font-size: 15px;
  font-weight: 300;
}

.formpt .name {
  display: inline-block;
}

textarea {
  width: 100%;
  resize: none;
}