* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // header
  header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    -webkit-filter: drop-shadow(30px 10px 4px #ddd);
    filter: drop-shadow(0px 2px 4px #ddd);
    // search
    .d-flex {
      max-width: 15%;

      .form-control {
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 3px 0 0 3px;
      }
      .btn {
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 0 3px 3px 0;
        background-color: #000;
        margin-left: -10px;
        i {
          color: #fff;
        }
      }
    }
    // info
    .info {
      display: flex;
      gap: 50px;
      color: #9c9c9c;
      i {
        font-size: 30px;
        margin: auto;
      }
      p {
        display: inline-block;
        margin: auto;
      }
    }
  }
}
