* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  .wrap {
    width: calc(100% - 50px);
    float: left;
    // header
    header {
      width: 100%;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      background-color: #fff;
      -webkit-filter: drop-shadow(30px 10px 4px #ddd);
      filter: drop-shadow(3px 2px 4px #ddd);
      // search
      .d-flex {
        max-width: 15%;

        .form-control {
          padding: 10px;
          border: 1px solid #ddd;
          border-radius: 3px 0 0 3px;
        }
        .btn {
          padding: 10px;
          border: 1px solid #ddd;
          border-radius: 0 3px 3px 0;
          background-color: #000;
          margin-left: -10px;
          i {
            color: #fff;
          }
        }
      }
      // info
      .info {
        display: flex;
        gap: 50px;
        color: #9c9c9c;
        i {
          position: relative;
          font-size: 30px;
          margin: auto;
          &::after {
            content: "5";
            position: absolute;
            right: -10px;
            font-size: 11px;
            padding: 5px;
            border-radius: 5px;
            background-color: #f00;
            color: #fff;
          }
        }
        p {
          display: inline-block;
          margin: auto;
        }
      }
    }

    .main {
      background-color: #f8f8f8;
      height: calc(100vh - 57px);
      padding: 20px;
      // dashBoard
      h2 {
        margin-bottom: 20px;
      }
      .card {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        -webkit-filter: drop-shadow(3px 2px 4px #ddd);
        filter: drop-shadow(3px 2px 4px #ddd);

        .cardBox {
          position: relative;
          display: flex;
          justify-content: space-between;
          padding: 40px 30px;
          border-radius: 10px;
          width: 20%;
          background-color: #fff;
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 5px;
            height: 100%;
            background-color: rgb(250, 95, 68);
            border-radius: 10px 0 0 10px;
          }
          h3 {
            margin-bottom: 10px;
          }
          i {
            font-size: 40px;
            color: #ddd;
          }
        }
      }
      .graph {
        display: flex;
        gap: 30px;
        .OverView {
          width: 80%;
          height: 500px;
          background-color: #fff;
          -webkit-filter: drop-shadow(3px 2px 4px #ddd);
          filter: drop-shadow(3px 2px 4px #ddd);
          h4 {
            border-bottom: 1px solid #ddd;
            padding: 10px 20px;
            background-color: #e9e9e9;
          }
          #myChart {
            padding: 10px 20px;
          }
        }

        .Task {
          width: 20%;
          height: 200px;
          background-color: #fff;
          -webkit-filter: drop-shadow(3px 2px 4px #ddd);
          filter: drop-shadow(3px 2px 4px #ddd);
          h4 {
            border-bottom: 1px solid #ddd;
            padding: 10px 20px;
            background-color: #e9e9e9;
          }
          ul {
            li {
              padding: 10px 20px;
              border-bottom: 1px solid #ddd;
            }
          }
        }
      }
    }
  }
  .side {
    float: left;
    width: 50px;
    height: 100vh;
    background-color: #3d50f7;
    ul {
      li {
        text-align: center;
        color: #fff;
        padding-top: 50px;
      }
    }
  }
}
